<h2>Create a Group</h2>
<div class="ui form">
  <%= form_for @group, url: {action: 'create'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit class: 'ui button' %>
  <% end %>
</div>
