<div class="ui container">
  <h1><%= @group.name %></h1>

  <h2>Choose a Raid:</h2>

  <% Raid.all.each do |raid| %>
    <div id="raid<%=raid.id%>">
      <%= form_for @group do |f| %>
        <div class="raids">
          <p class='raid_name'><%= raid.name %> </p>
          <p class='raid_location'><%= raid.location %></p>
          <p><%= raid.description %></p>
          <%= f.submit 'Select Raid' %>
        </div>
        <%= f.hidden_field :id, :value => @group.id %>
        <%= f.hidden_field :raid_id, :value => raid.id %>
      <% end %>
    </div>
  <% end %>

  <% if @group.users.any? %>
    <p>Users in group: <%= @group.users.count %></p>
  <% else %>
    <p>There are currently no users in this group</p>
  <% end %>
</div>
